<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

        <link rel="stylesheet" href="/wwwroot/images/travel.jpg">

    <style>
    
        .reg {
            display: inline-block;
           
            padding: 40px;
            margin-left: 10%;
            margin-top: 2%;
            padding-left: 10%;
            padding-right: 10%;
            /* background-color: #ffffff;
            background-image: url("https://www.transparenttextures.com/patterns/brilliant.png"); */
        }

        .img-responsive {
            width: 500px;
            vertical-align: top;
            margin-top: 10%;
            border-radius: 15px;
        }

        .btn {
            float: right;
            background-color:rgb(134, 191, 232);
        }
    </style>
</head>
<body>
<div class="reg">
    <div class="col">
        @model User
        <form asp-action="Signup" asp-controller="Home" method="POST" enctype="multipart/form-data">
        <div class="input-field row-12">
            <input id="FirstName" type="text" asp-for="FirstName">
            <label asp-for="FirstName" class="active">First Name</label>
            <span asp-validation-for="FirstName"></span>
        </div>
        
        <div class="input-field row-12">
            <input id="LastName" type="text" asp-for="LastName">
            <label asp-for="LastName" class="active">Last Name</label>
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="input-field row-12">
            <input id="Email" type="text" asp-for="Email">
            <label asp-for="Email" class="active">Email</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input-field row-12">
            <input id="Password" type="Password" asp-for="Password">
            <label asp-for="Password" class="active">Password</label>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="input-field row-12">
            <input id="Confirm" type="Password" asp-for="Confirm">
            <label asp-for="Confirm" class="active">Confirm</label>
            <span asp-validation-for="Confirm"></span>
        </div>

        <div class="input-field row-12">
            <input id="Location" type="text" asp-for="Location">
            <label asp-for="Location" class="active">Location</label>
            <span asp-validation-for="Location"></span>
        </div>

        <div class="input-field row-12">
            <input id="ImageFile" name="ImageFile" type="file">
            <label for="ImageFile"></label>
        </div> 

        <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Sign Up
            <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
</div>

<img src="~/images/travel.jpg" alt="ASP.NET" class="img-responsive" />





<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>